<h1> Add a new Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.input :submit%>
  </div>
<% end %>
