<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>
<p>Phonenumber: <%= @restaurant.phone_number%></p>
<p>Category: <%=@restaurant.category %></p>

<%= link_to "back to al restaurants", restaurants_path %>
