<div class="row">
  <div class=""></div>
<h1><%= @restaurant.name %></h1>
</div>

<p class="font-weight-bold">Address:</p><p> <%= @restaurant.address %></p>
<p class="font-weight-bold">Phonenumber:</p><p> <%= @restaurant.phone_number%></p>
<p class="font-weight-bold">Category:</p><p> <%= @restaurant.category %></p>
<p class="font-weight-bold">reviews:</p>
<ul>
<% @restaurant.reviews.each do |review|%>
<li class="list-group-item"><%= review.content%> || <%= review.rating%></li>
  <% end %>
</ul>
<%= link_to "back to al restaurants", restaurants_path, {class: "btn btn-primary"} %>
<%= link_to "add review", new_restaurant_review_path(@restaurant), {class: "btn btn-primary"}%>



<!--
<div class="row">
  <div class="col-6"></div>
</div> -->
